div.container {
    font-family: 'Montserrat', sans-serif;
}

div.fund::before {
    content: "Credit ";
    white-space: pre-wrap;
}

div.fund::after {
    content: " €";
    white-space: pre-wrap;
}