div.container {
    font-family: 'Montserrat', sans-serif;
}

div.fund::before {
    content: "Credit ";
    white-space: pre-wrap;
}

div.fund::after {
    content: " €";
    white-space: pre-wrap;
}

.solde-container{
    text-align: end;
}

.cadre{
    padding: 15px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}

.deletteButton{
    cursor: pointer;
}

.tab-histo{
    justify-content: center;
    margin: auto auto 15px;
    text-align: center;
}

.tab-histo div{
    border: 1px solid #d0d0d0;
}