<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Ticket
    </div>

    <div class="card-body">
        <P>Description du ticket</P>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Type</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Traité par</th>
            <th>Statut</th>
            <th>Date de fin prévisionnelle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{test}}</td>
            <td>{{test}}</td>
            <td>{{test}}</td>
            <td>{{test}}</td>
            <td>{{test}}</td>
            <td>
                <span class="badge badge-success">{{test}}</span>
            </td>
            <td>{{test}}</td>
          </tr>         
        </tbody>
      </table>      
    </div>
  </div>

  <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Fil de discussion
      </div>
      <div class="card-body">
            
      </div>
      <form id="messageForm" action="" method="POST">
            <div class="card-footer">
                    <div>
                        <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control" placeholder="..." spellcheck="true"></textarea>
                    </div>
                <br>
                    <div class="form-actions">              
                        <button type="submit" class="btn btn-success">Envoyer</button>             
                    </div>
              </div>
      </form>      
  </div>