<div class="row mx-5">
        <div class="col text-center font-weight-bold">
            Inscription
        </div>
      </div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="m-5" >
    <div class="form-row">
        <div class="form-group col-12">
            <input type="text" name="lastname" class="form-control" id="inputName" placeholder="Nom" ngModel>
            <div class="text-danger" id="notificationtname">Nom vide</div>
        </div>
        <div class="form-group col-12">
            <input type="text" name="firstname" class="form-control" id="inputFistname" placeholder="Prénom" ngModel>
            <div class="text-danger" id="notificationtfirstname">Prenom vide</div>
        </div>
        <div class="form-group col-12">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="e-mail" ngModel>
            <div class="text-danger" id="notificationtemail">Email vide</div>
        </div>
        <div class="form-group col-12">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="mot de passe" ngModel>
            <div class="text-danger" id="notificationpassword">Mot de passe vide</div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" id="buttonsignup">S'inscrire</button>
        </div>
    </div>
</form>
