<div class="row pb-5">
  <div class="col px-0">
          <nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #911a1a;">     
              <div class=" navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="weeklymenu.html">Accueil <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="authentication.html">Connexion</a>
                  </li>
                  <li class="nav-item">
                      <!-- <a class="nav-link " href="inscription.html">Inscription</a> -->
                      <a [routerLink]="['/inscription']"> Inscription</a>
                  </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" />
                      <button class="btn  my-2 my-sm-0" type="submit">Rechercher</button>
                  </form>
              </div>
          </nav>
  </div>
</div>