<h1>MENUS HEBDO</h1><hr><br>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">LUNDI</h4>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Entrée</label>
                <div class="col-sm-5">
                    <select  class="form-control" name="entree" id="">
                        <option>entrée 1</option>
                        <option>entrée 2</option>
                        <option>entrée 3</option>
                    </select>
                </div>
                <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary" (click)="add()">Ajouter</button>
            </div>       
            <h3>Les entrées</h3>
            <ul class="list-unstyled mt-3 mb-4">
                <li>cho li - <a class="material-icons medium cyan-text text-darken-4" (click)="remove()">delete_forever</a></li>  
            </ul>
            <hr>
            <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Résistance</label>
                <div class="col-sm-5">
                    <select  class="form-control" name="entree" id="">
                        <option>résistance 1</option>
                        <option>résistance 2</option>
                        <option>résistance 3</option>
                    </select>
                </div>
                <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning" (click)="add()">Ajouter</button>
            </div>        
            <h3>Les plats</h3>
            <ul class="list-unstyled mt-3 mb-4">
                <li>cho li - <a class="material-icons medium cyan-text text-darken-4" (click)="remove()">delete_forever</a></li>  
            </ul>
            <hr>
            <div class="form-group row">
                <label  class="col-sm-4 col-form-label">Déssert</label>
                <div class="col-sm-5">
                    <select  class="form-control" name="entree" id="">
                        <option>déssert 1</option>
                        <option>déssert 2</option>
                        <option>déssert 3</option>
                    </select>
                </div>
                <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success" (click)="add()">Ajouter</button>
            </div>       
            <h3>Les désserts</h3>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
                <li>cho li - <a class="material-icons medium cyan-text text-darken-4" (click)="remove()">delete_forever</a></li>  
            </ul>
        </div>
    </div>
</div>

<!-- #region LEGACY -->
<!-- <div class="row">
  <div class="col text-center font-weight-bold">
      Au menu
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="table-responsive">
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th scope="col">Menu</th>

                  <th scope="col">
                      <div class="row">
                          <div class ="col mr-auto">Lundi</div>
                          <button type="button" class="btn btn-success mx-1">+</button>
                      </div>
                  </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Mardi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Mercredi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Jeudi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Vendredi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>menu 2</td>
              <td>menu 2</td>
              <td>menu 2</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>menu 3</td>
              <td>menu 3</td>
          </tr>
      </tbody>
  </table>
      </div>
  </div>
</div> -->
<!-- #endregion LEGACY -->