<div class="row">
  <div class="col text-center font-weight-bold">
      Au menu
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="table-responsive">
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th scope="col">Menu</th>

                  <th scope="col">
                      <div class="row">
                          <div class ="col mr-auto">Lundi</div>
                          <button type="button" class="btn btn-success mx-1">+</button>
                      </div>
                  </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Mardi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Mercredi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Jeudi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
              <th scope="col">
                  <div class="row">
                      <div class ="col mr-auto">Vendredi</div>
                      <button type="button" class="btn btn-success mx-1">+</button>
                  </div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
              <td>menu 1</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>menu 2</td>
              <td>menu 2</td>
              <td>menu 2</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>menu 3</td>
              <td>menu 3</td>
          </tr>
      </tbody>
  </table>
      </div>
  </div>
</div>