<h2 style="text-align:center"> Votre panier </h2>
<div class="row mx-5">
  <div class="col-8 text-left font-weight-bold">
      Bonjour {{ userTest) }}
  </div>
  <div class="col-4 text-center font-weight-bold">
     <!--  Cagnotte : {{ getUserFundById("LT73AzCOG7QvnehfLRw") }} € -->
  </div>
</div>
<!-- Le panier -->
<table class="table">
  <thead>
    <tr class="bg-dark text-white">
      <td> PLAT </td>
      <td> PRIX </td>
      <td> AJOUTER </td>
      <td> QUANTITE </td>
      <td> SUPPRIMER </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Plat 1 </td>
      <td> 5€ </td>
      <td>
        <button type="button" class="btn btn-success" style="border-radius:50%"> + </button>
      </td>
      <td> 1 </td>
      <td>
        <button type="button" class="btn btn-danger" style="border-radius:50%"> - </button>
      </td>
    </tr>

    <tr>
        <td> Plat 2 </td>
        <td> 6€ </td>
        <td>
          <button type="button" class="btn btn-success" style="border-radius:50%"> + </button>
        </td>
        <td> 2 </td>
        <td>
          <button type="button" class="btn btn-danger" style="border-radius:50%"> - </button>
        </td>
      </tr>
  </tbody>
</table>