
<div class='container'>
  <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Menu de la semaine
      </div>

      <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>LUN</th>
                <th>MAR</th>
                <th>MER</th>
                <th>JEU</th>
                <th>VEN</th>
                <th>OPTION</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Poulet au curry</td>
                  <td>Brandade de morue</td>
                  <td>Spaghetti Bolognaise</td>
                  <td>Riz & ratatouille</td>
                  <td>Pizza maguerita</td>
                  <td>
                    <span class="badge badge-secondary" [routerLink]="">Editer</span>
                    <span class="badge badge-danger" [routerLink]="">Supprimer</span>
                  </td>
                </tr>

                <tr>
                  <td>Poulet au curry</td>
                  <td>Brandade de morue</td>
                  <td>Spaghetti Bolognaise</td>
                  <td>Riz & ratatouille</td>
                  <td>Pizza maguerita</td>
                  <td>
                    <span class="badge badge-secondary" [routerLink]="">Editer</span>
                    <span class="badge badge-danger" [routerLink]="">Supprimer</span>
                  </td>
                </tr>
                <tr>
                  <td>Poulet au curry</td>
                  <td>Brandade de morue</td>
                  <td>Spaghetti Bolognaise</td>
                  <td>Riz & ratatouille</td>
                  <td>Pizza maguerita</td>
                  <td>
                    <span class="badge badge-secondary" [routerLink]="">Editer</span>
                    <span class="badge badge-danger" [routerLink]="">Supprimer</span>
                  </td>
                </tr>
                <tr>
                <td>Poulet au curry</td>
                <td>Brandade de morue</td>
                <td>Spaghetti Bolognaise</td>
                <td>Riz & ratatouille</td>
                <td>Pizza maguerita</td>
                <td>
                  <span class="badge badge-secondary" [routerLink]="">Editer</span>
                  <span class="badge badge-danger" [routerLink]="">Supprimer</span>
                </td>
              </tr>
              <tr>
                  <td>Poulet au curry</td>
                  <td>Brandade de morue</td>
                  <td>Spaghetti Bolognaise</td>
                  <td>Riz & ratatouille</td>
                  <td>Pizza maguerita</td>
                  <td>
                    <span class="badge badge-secondary" [routerLink]="">Editer</span>
                    <span class="badge badge-danger" [routerLink]="">Supprimer</span>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>

      
      <!-- 
            <div class="col-4">
                <button class="btn btn-success btn-xs mr-4" [routerLink]="['/detail', beer.key]"> Detail</button>
                <button class="btn btn-warning btn-xs mr-4" [routerLink]="['/edit', beer.key]"> Editer</button>
              <button class="btn btn-danger btn-xs" (click)="deleteBeer(beer.key)"> Delete</button>
            </div>
          </div>
          <<tbody>
            <tr>
              <td>Poulet au curry</td>
              <td>Brandade de morue</td>
              <td>Spaghetti Bolognaise</td>
              <td>Riz & ratatouille</td>
              <td>Pizza maguerita</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
             -->
    </div>
  </div><!--/.col-->
  </div> <!-- /.row-->
</div> <!-- /.container-->