<div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tous les tickets
        </div>    
           
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Date</th>
                <th>Traité par</th>
                <th>Statut</th>
                <th>Date de fin prévisionnelle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ticket 1</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>
                    <span class="badge badge-warning">En attente - attribué</span>
                </td>
                <td>{{test}}</td>
              </tr>
              <tr>
                <td>Ticket 2</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>{{test}}</td>
                <td>
                    <span class="badge badge-danger">En attente - Non attribué</span>
                </td>
                <td>{{test}}</td>
                </tr>             
            </tbody>
          </table>      
        </div>
      </div>