<div class="row m-5">
  <div class="col text-center font-weight-bold">Gestion des fonds</div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Current Fund</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.fund }}</td>
            <td>
                <input type="number" class="form-control" aria-label="Text input with dropdown button" #fundValue size="3">
                <div class="d-flex flex-row-reverse mt-1">
                    <button type="button" class="btn btn-success" (click)="addFund(user, fundValue.value, i)">Add</button>
                    <button type="button" class="btn btn-danger" (click)="substractFund(user, fundValue.value, i)">Remove</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

-- TEMP ADD USER--

<div class="row mx-1">
    <div class="col-12">
      <h1> Add user</h1>
        <form (ngSubmit)="onSubmitUser(f1)" #f1="ngForm" class="row">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" class="form-control" ngModel>
                </div>
                <div class="form-group col-12">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" class="form-control" ngModel>
                </div>
                <div class="form-group col-12">
                    <label for="fund">Fund</label>
                    <input type="text" name="fund" class="form-control" ngModel>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success mr-1">Add user</button>                      
                </div>
            </div>
          </form>
    </div>
  </div>

  -- TEMP ADD MENU --

  <div class="row mx-1">
      <div class="col-12">
        <h1> Add menu</h1>
          <form (ngSubmit)="onSubmitMenu(f2)" #f2="ngForm" class="row">
              <div class="form-row">
                  <div class="form-group col-12">
                      <label for="firstname">Libelle</label>
                      <input type="text" name="libelle" class="form-control" ngModel>
                  </div>
                  <div class="form-group col-12">
                      <label for="lastname">Price</label>
                      <input type="number" name="price" class="form-control" ngModel>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-success mr-1">Add menu</button>                      
                  </div>
              </div>
            </form>
      </div>
    </div>

  -- TEMP ADD ARTICLE --

  <div class="row mx-1">
      <div class="col-12">
        <h1> Add article</h1>
          <form (ngSubmit)="onSubmitArticle(f3)" #f3="ngForm" class="row">
              <div class="form-row">
                  <div class="form-group col-12">
                      <label for="firstname">Libelle</label>
                      <input type="text" name="libelle" class="form-control" ngModel>
                  </div>
                  <div class="form-group col-12">
                      <label for="lastname">Description</label>
                      <input type="text" name="description" class="form-control" ngModel>
                  </div>
                  <div class="form-group col-12">
                      <label for="fund">Price</label>
                      <input type="number" name="price" class="form-control" ngModel>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-success mr-1">Add article</button>                      
                  </div>
              </div>
            </form>
      </div>
    </div>