<div class="row mx-5">
  <div class="col text-center font-weight-bold">Gestion des fonds</div>
</div>

<div class="row m-5">   
  <ul class="col list-group">
      <li class="list-group-item d-flex align-items-center">
          <div class="col-5">Prenom Nom</div>
          <div class="ml-auto fund">0</div>
          <div class="ml-auto">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <select class="custom-select" id="fundOperator">
                          <option value="1">+</option>
                          <option value="2">-</option>
                      </select>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button" size="3">
              </div>
          </div>    
          <button type="button" class="btn btn-secondary btnRemove ml-auto border-0 btnModify">Modifier</button>
      </li>
      <li class="list-group-item d-flex align-items-center">
          <div class="col-5">Prenom Nom</div>
          <div class="ml-auto fund">0</div>
          <div class="ml-auto">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <select class="custom-select" id="fundOperator">
                          <option value="1">+</option>
                          <option value="2">-</option>
                      </select>
                  </div>
                  <input type="text" class="form-control" size="3">
              </div>
          </div>   
          <button type="button" class="btn btn-secondary btnRemove ml-auto border-0 btnModify">Modifier</button>
      </li>
      <li class="list-group-item d-flex align-items-center">
          <div class="col-5">Prenom Nom</div>
          <div class="ml-auto fund">0</div>
          <div class="ml-auto">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <select class="custom-select" id="fundOperator">
                          <option value="1">+</option>
                          <option value="2">-</option>
                      </select>
                  </div>
                  <input type="text" class="form-control" size="3">
              </div>
          </div>   
          <button type="button" class="btn btn-secondary btnRemove ml-auto border-0 btnModify">Modifier</button>
      </li>
  </ul>
</div>