<h1>MENUS HEBDO {{ weeklyDays | weeklyDaysFormatString }}</h1><hr><br>
<!-- <div class="row justify-content-end"><button type="button" (click)="saveWeeklyMenus()" class="col-sm-3 btn btn-xs btn-block btn-outline-success mx-3 mb-1">Save</button></div> -->
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ weeklyDays.monday | dateFormatString }}</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select class="form-control" name="entree" id="mondayE">
                  <option *ngFor="let entree of entrees" value="{{ entree._id }}">{{ entree.libelle }}</option>
              </select>
          </div>
          
          <button type="button"  (click)="mondayE(lundi['_id'])"  class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4 col-4 offset-4">
        <li *ngFor="let entr of entreesLundi" >{{ entr.libelle}}  <button class="btn btn-danger btn-xs"><i class="fa fa-trash fa-xs"></i></button>
        <hr></li>   
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="resistance" id="">
                  <option *ngFor="let resistance of resistances" value="{{ resistance._id }}">{{ resistance.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Dessert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="dessert" id="">
                  <option *ngFor="let dessert of desserts" value="{{ dessert._id }}">{{ dessert.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les desserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ weeklyDays.tuesday | dateFormatString }}</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option *ngFor="let entree of entrees" value="{{ entree._id }}">{{ entree.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="resistance" id="">
                  <option *ngFor="let resistance of resistances" value="{{ resistance._id }}">{{ resistance.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Dessert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="dessert" id="">
                  <option *ngFor="let dessert of desserts" value="{{ dessert._id }}">{{ dessert.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les desserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<div class="card-deck mb-3 text-center">

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ weeklyDays.wednesday | dateFormatString }}</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option *ngFor="let entree of entrees" value="{{ entree._id }}">{{ entree.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="resistance" id="">
                  <option *ngFor="let resistance of resistances" value="{{ resistance._id }}">{{ resistance.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Dssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="dessert" id="">
                  <option *ngFor="let dessert of desserts" value="{{ dessert._id }}">{{ dessert.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div> 

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ weeklyDays.thursday | dateFormatString }}</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option *ngFor="let entree of entrees" value="{{ entree._id }}">{{ entree.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="resistance" id="">
                  <option *ngFor="let resistance of resistances" value="{{ resistance._id }}"> {{ resistance.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="dessert" id="">
                  <option *ngFor="let dessert of desserts" value="{{ dessert._id }}">{{ dessert.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>
<br><br>

<div class="card-deck mb-3 text-center">
  
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{ weeklyDays.friday | dateFormatString }}</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option *ngFor="let entree of entrees" value="{{ entree._id }}">{{ entree.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="resistance" id="">
                  <option *ngFor="let resistance of resistances" value="{{ resistance._id }}">{{ resistance.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Dessert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="dessert" id="">
                  <option *ngFor="let dessert of desserts" value="{{ dessert._id }}">{{ dessert.libelle }}</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les desserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>