<h1>MENUS HEBDO</h1><hr><br>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">LUNDI</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>entrée 1</option>
                  <option>entrée 2</option>
                  <option>entrée 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
        <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>résistance 1</option>
                  <option>résistance 2</option>
                  <option>résistance 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>déssert 1</option>
                  <option>déssert 2</option>
                  <option>déssert 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">MARDI</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>entrée 1</option>
                  <option>entrée 2</option>
                  <option>entrée 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>résistance 1</option>
                  <option>résistance 2</option>
                  <option>résistance 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>déssert 1</option>
                  <option>déssert 2</option>
                  <option>déssert 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<div class="card-deck mb-3 text-center">

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">MERCREDI</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>entrée 1</option>
                  <option>entrée 2</option>
                  <option>entrée 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>résistance 1</option>
                  <option>résistance 2</option>
                  <option>résistance 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>déssert 1</option>
                  <option>déssert 2</option>
                  <option>déssert 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div> 

  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">JEUDI</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>entrée 1</option>
                  <option>entrée 2</option>
                  <option>entrée 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>résistance 1</option>
                  <option>résistance 2</option>
                  <option>résistance 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>déssert 1</option>
                  <option>déssert 2</option>
                  <option>déssert 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>
<br><br>

<div class="card-deck mb-3 text-center">
  
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">VENDREDI</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Entrée</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>entrée 1</option>
                  <option>entrée 2</option>
                  <option>entrée 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-primary">Ajouter</button>
        </div>
  
      <h3>Les entrées</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Résistance</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>résistance 1</option>
                  <option>résistance 2</option>
                  <option>résistance 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-warning">Ajouter</button>
        </div>
  
      <h3>Les plats</h3>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
      <hr>

      <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Déssert</label>
          <div class="col-sm-5">
              <select  class="form-control" name="entree" id="">
                  <option>déssert 1</option>
                  <option>déssert 2</option>
                  <option>déssert 3</option>
              </select>
          </div>
          <button type="button" class=" col-sm-3 btn btn-xs btn-block btn-outline-success">Ajouter</button>
        </div>
  
      <h3>Les désserts</h3>
      <hr>
      <ul class="list-unstyled mt-3 mb-4">
          <li>cho li - <a href="" class="material-icons medium cyan-text text-darken-4">delete_forever</a></li>  
      </ul>
    </div>
  </div>
</div>
