
        
<div class="row d-block" style="margin:auto">
  <div class="col lg-offset-12 md-8 mx-auto m-5 " id="inscription">
    <div class="card-group">
      <!-- Image -->
      <div class="card p-5 d-md-down-none " style="background-image: url(../../../../assets/img/wallpaper/booAccueil.png)">
      </div>
      <div class="card p-4">
        <!-- Logo -->
        <div>
          <div class="card-body text-center">
            <img src='../../assets/logo-02.png'>
          </div>
        </div>
    
        <!-- Formulaire -->
        <div class="card-body">
          <form>
            <h1> Inscription </h1>
            <p class="text-muted">Bienvenue sur la page d'inscription de BOO</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend py-2">
                   <a href="" target="_blank" class="button facebook">
                     <span> <i class="fa fa-facebook" aria-hidden="true"></i></span>
                     <p>Connection avec Facebook</p>
                    </a>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend py-2">
                  <a href="#" target="_blank" class="button google-plus">
                    <span><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                    <p>Connection avec Google +</p>
                  </a>
                </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-2">
                  <div class="input-group mb-3">
                    <button type="button" class="btn btn-primary px-4 btn ">Login</button>
                  </div>
                </div>

                <div class="col-10 text-left">
                  <div class="input-group mb-3">
                    <a class="nav-link" [routerLink]="['/connexion']">Connexion</a>
                  </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>